name: e2e pipeline
run-name: Build, Deploy, Test - from user @${{ github.actor }}

on: 
  workflow_dispatch:

jobs: 
  build:  
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven

      - name: Run Unit Tests
        run: mvn test
  
      - name: Build with Maven
        run: mvn -DskipTests -B package --no-transfer-progress --file ./pom.xml

      - name: rename Artefakt
        run: mv ./target/*digitalbank*.war ./target/digibank.war

      - uses: actions/upload-artifact@master
        with:
          name: digibank.war
          path: ./target/digibank*
    
  analyze:
    name: Analyze
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write

    strategy:
      fail-fast: false
      matrix:
        language: [ 'javascript', 'java' ]
        # CodeQL supports [ 'cpp', 'csharp', 'go', 'java', 'javascript', 'python', 'ruby' ]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Initialize CodeQL
      uses: github/codeql-action/init@v2
      with:
        languages: ${{ matrix.language }}

    - name: Autobuild
      uses: github/codeql-action/autobuild@v2

    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v2
      with:
        category: "/language:${{matrix.language}}"
        
  cleanup:
    needs: [build]
    runs-on: ubuntu-latest
    environment: UAT

    steps: 
      - name: "cleanup destination at ${{ vars.UAT_IP }}"
        uses: appleboy/ssh-action@master
        with:
          host: ${{ vars.UAT_IP }}
          port: ${{ vars.UAT_PORT }}
          username: ${{ secrets.USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            rm -rf ./deployment/*
            rm -rf ${{ vars.UAT_TOMCAT }}/digi*
            
  deploy: 
    needs: [cleanup, build]
    runs-on: ubuntu-latest
    environment: UAT
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: digibank.war
          path: ./deploy
          
      - run: ls -tr ./deploy
          
      - name: deploy
        uses: appleboy/scp-action@master
        with:
          host: ${{ vars.UAT_IP }}
          port: ${{ vars.UAT_PORT }}
          username: ${{ secrets.USER }}
          key: ${{ secrets.SSH_KEY }}
          source: './deploy/digibank.war'
          target: 'deployment'
