name: run unit tests of feature branche

on:
  push:
      branches:
          'feature/*'

jobs:
   run-unit-test:
       runs-on: ubuntu-latest

       steps: 
         - name: Checkout
           uses: actions/checkout@v4.1.0

         - name: run unit test
           run: mvn test

       
